
/target/
file:///Users/vladvergu/Downloads/grace/metaborg-grace/grace.interpreter/src/main/resources/signatures-digest.cache
src/main/resources/specification.aterm
src/main/resources/parsetable.tbl
src/main/resources/logback.xml
src/main/java/org/metaborg/grace/interpreter/generated
src/main/java/org/metaborg/grace/interpreter/generated/terms
src/main/java/org/metaborg/grace/interpreter/generated/terms/build
src/main/java/org/metaborg/grace/interpreter/generated/terms/match
src/test/java/org/metaborg/grace/interpreter/generated/test
